* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 175%;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 120%;
}

.sectionContainer {
    width: auto;
    margin: 0 18px;
    padding: 20px;
}

.section {
    position: relative;
    border: 1px solid black;
    background-color: lightgrey;
}

p {
    margin: 0;
    padding: 0;
}

p.menuItem {
    
}

.text {
    margin: 50px 15px 5px;
}

.menuItem {
    display: block;
    border: 1px solid black;
    text-align: center;
    line-height: 1.6em;
    font-weight: 700;
    font-size: 125%;
}

#chicken {
    background-color: #d59898;
}

#beef {
    background-color: #c14543;
    color: white;
}

#sushi {
    background-color: #e5d198;
}

.row {
    width: 100%;
}

body {
    font-size: 16px;
    color: #3b3434;
    background-color: #c8c7ea;
    font-family: 'Oxygen', sans-serif;
}


/** HEADER **/

#header-nav {
    background-color: #e2f7ea;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../images/restaurant-logo_large.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    border: 0;
    box-shadow: 0 0 20px #3F0C1F;
    border: 2px solid #3F0C1F;
}

.navbar-brand {
    padding-top: 25px;
    padding-left: 20px;
}

.navbar-brand h1 {
    /* Restaurant name */
    font-family: 'Lora', serif;
    color: #eda155;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
    line-height: .95;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p img {
    border: 1px solid #377b2e;
    box-shadow: 0 0 10px #3F0C1F;
}

.navbar-brand p {
    /* Kosher cert */
    color: #377b2e;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span {
    /* Star-K */
    vertical-align: middle;
    margin-left: 5px;
}

#nav-list {
    margin-top: 50px;
}

#nav-list a {
    color: #eda155;
    text-align: center;
    text-shadow: 1px 1px 1px #222;
}

#nav-list a:hover {
    background: #bce0b7;
}

#nav-list a span {
    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
    margin-left: 20px;
}

#phone a {
    /* Phone number */
    text-align: right;
    padding-bottom: 0;
}

#phone div {
    /* We Deliver */
    color: black;
    text-align: right;
    padding-right: 15px;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}


/* END HEADER */


/* HOME PAGE */

.container .jumbotron {
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
}

.hidden-lg {
    @media (min-width: 1200px) {
        .responsive-invisibility();
    }
}

.hidden-md {
    @media (min-width: 992px) and (max-width: 1199px) {
        .responsive-invisibility();
    }
}

.hidden-sm {
    @media (min-width: 768px) and (max-width: 991px) {
        .responsive-invisibility();
    }
}

.hidden-xs {
    @media (max-width: 767px) {
        .responsive-invisibility();
    }
}


/* END HOME PAGE */


/********** Large devices only **********/

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .container .jumbotron {
        background: url('../images/jumbotron_1200.jpg') no-repeat;
        height: 675px;
    }
}


/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    /* Header */
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
    #logo-img {
        background: url('../images/restaurant-logo_medium.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
    /* End Header */
    /* Home Page */
    .container .jumbotron {
        background: url('../images/jumbotron_992.jpg') no-repeat;
        height: 558px;
    }
    /* End Home Page */
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    /* Home Page */
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
    #p3 {
        clear: both;
    }
    .container .jumbotron {
        background: url('../images/jumbotron_768.jpg') no-repeat;
        height: 432px;
    }
    /* End Home Page */
}


/********** Extra small devices only **********/

@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 {
        /* Restaurant name */
        padding-top: 10px;
        font-size: 5vw;
        /* 1vw = 1% of viewport width */
    }
    .navbar-brand p {
        /* Kosher cert */
        font-size: .6em;
        margin-top: 12px;
    }
    .navbar-brand p img {
        /* Star-K */
        height: 20px;
    }
    #collapsable-nav a {
        /* Collapsed nav menu text */
        font-size: 1.2em;
    }
    #collapsable-nav a span {
        /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }
    #call-btn>a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #f5edda;
        color: #951c49;
    }
    /* Home Page */
    .container .jumbotron {
        margin-top: 30px;
        padding: 0;
    }
}
